@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
  background-color: rgb(24, 25, 28);
  color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  place-content: center;
  -webkit-box-pack: center;
  min-height: 100vh;
  align-items: center;
}
body::before{
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* Speech */
  .container_speech{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; 
  }
  .content_speech{
    background-color: #171717;
    padding: 25px;
    width: 25rem;
    height: auto;
    border-radius: 15px;
    /* border: 1px solid rgba(84, 84, 84, 0.356); */
  }
  .content_speech h3, h6{
    font-family: "Quicksand", sans-serif;
  }
  .content_speech h6{
    color: #a6a6a6;
  }
  .icon_speech{
    display:flex;
    justify-content: center;
  }
  .icon_speech_content{
    display: flex;
    gap: 0.5rem;
  }
  .btn_icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn_icons svg{
    width: 20px;
    height: 20px;
    color: #fff;
  }
  #icon_item1{
    background-color: #63f056;
  }
  #icon_item2{
    background-color: #567ff0;
  }
  